/*Left Progress Bars
========================*/

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 75%;
}

/*Right Progress Bars
========================*/

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 75%;
}